body {
	background-image: url('../bgimage.JPG');
	color: white;
	
	font-size: 28px;
}

h1 {
	font-size: 40px;
	padding-bottom: 5%;
	padding-top: 5%;
}

h1, p, span {
	margin-left: 10%;

}

p, span {
	padding-bottom: 10px;
	padding-top: 10px;
}

